{% extends 'base.html.twig' %}

{% block title %}SAD{% endblock %}

{% block body %}
    <div style="background-color:#e9ecef" class="hero container-fluid">
        <h1 class="display-3">Sea Of Death</h1>
        <p>Naviguez sur une mer hostile habité par des pirates. Attaquez et pillez les autres joueurs pour devenir le roi des pirates! </p>
        <p><a class="btn btn-outline-secondary btn-lg" href="#" role="button">Jouez</a></p>
    </div
{% endblock %}
