{# Footer #}
<footer class="bg-dark">
    <h4>Restez en contact</h4>
    <a href="#"><i class="fa-brands fa-discord"></i></a>
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-twitch"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
</footer>
{# End footer #}