/* Footer */
footer {
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
    color: #fff;

    h4 {
        padding-bottom: 1.3rem;
        color: #fff;
    }

    a {
        padding: 1rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        text-decoration: none;
        color: #fedfdf;
    }
}