@import url("https://fonts.bunny.net/css?family=Nunito");
.lien {
  margin-left: 1rem;
}

.hero {
  padding-top: 30rem;
  min-height: 55rem;
}

.btn-google {
  background-color: rgb(234, 67, 53) !important;
  color: #fff !important;
}

.btn-google:hover {
  background-color: rgba(234, 67, 53, 0.65) !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.btn-facebook:hover {
  background-color: rgba(59, 89, 152, 0.55) !important;
}

.btn-user {
  font-size: 1rem !important;
  border-radius: 10rem !important;
  padding: 0.75rem 1rem !important;
  width: 100% !important;
}

/* Footer */
footer {
  margin-top: 60px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
footer h4 {
  padding-bottom: 1.3rem;
  color: #fff;
}
footer a {
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: none;
  color: #fedfdf;
}